* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary-bg-color:rgb(255, 251, 251);
  --primary-text-clr: rgb(122, 93, 61);
  --hf-clr: rgb(202, 190, 147);
  --nav-tog-clr: rgb(255, 255, 255);
  --button-clr: rgb(122, 93, 61);
  --hover-clr: bisque;
  --active-clr: rgb(133, 91, 62);
  --other-clr: rgb(122, 93, 61, 0.7);
}

html[data-theme='light']{
  --primary-bg-color:rgb(255, 251, 251);
  --primary-text-clr: rgb(122, 93, 61);
  --hf-clr: rgb(202, 190, 147);
  --nav-tog-clr: rgb(255, 255, 255);
 --button-clr: rgb(110, 77, 45);
  --hover-clr: bisque;
  --active-clr: rgb(133, 91, 62);
  --other-clr: rgb(122, 93, 61, 0.7);
}

html[data-theme='dark'] {
  --primary-bg-color:rgb(24, 22, 22);
  --primary-text-clr: rgb(255, 250, 250);
  --hf-clr: rgb(29, 27, 27);
  --nav-tog-clr: rgb(255, 255, 255);
  --button-clr: rgb(92, 90, 90); 
  --hover-clr: rgb(122, 118, 113);
  --active-clr: rgb(185, 184, 182);
  --other-clr: rgba(104, 102, 101, 0.7);
}

[data-theme='dark'] .form-control {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.6);
    color: var(--text-color);
}

[data-theme='dark'] .form-control:focus {
    color: var(--text-color);
}

[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-bg-color);
}

a {
  color: white;
}

.nav-bar {
  background-color: var(--hf-clr);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--hf-clr);
}

.nav-bar ul a {
  display: block;
  margin: 13px;
  border-right: 1px var(--hf-clr);
  text-decoration: none;
}

.nav-bar ul a:hover {
  color: bisque;
}

.nav-bar ul a:active{
  color: bisque;
}

.nav-bar ul .active{
  color: rgb(133, 91, 62);
}

.nav-bar .logo {
  float: left;
  display: block;
  font-size: 2em;
  font-family: "Gloock", serif;
  padding: 30px 5px 30px 15px;
  text-decoration: none;
}

.nav-bar .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.nav-bar .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.nav-bar .menu-icon .nav-icon {
  background: var(--nav-tog-clr);
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.nav-bar .menu-icon .nav-icon:before {
  background: var(--nav-tog-clr);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: 5px;
}

.nav-bar .menu-icon .nav-icon:after {
  background: var(--nav-tog-clr);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: -5px;
}

.nav-bar .menu-btn {
  display: none;
}

.nav-bar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.nav-bar .menu-btn:checked ~ .menu-icon .nav-icon{
  background-color: transparent;
}

.nav-bar .menu-btn:checked ~ .menu-icon .nav-icon:before{
  transform: rotate(-45deg);
  top: 0;
}

.nav-bar .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}

#theme-toggle{
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  margin: 1rem;
  margin-top: 1.9rem;
  cursor: pointer;
}

.myname{
    margin-bottom: 6rem;
}

.top-headline{
  padding-top: 16vh;
  font-size: 1.4rem;
  text-align: left;
  font-family: "Gloock", serif;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color:var(--primary-text-clr);
}

#cv-name, #schools, #work-experience{
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem;
} 

#place1, #place2, #place3, #place4{
  font-size: 1rem;
  margin: 0.3rem
}

.section{
  color: var(--primary-text-clr);
  margin: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.pic{
  background-image: url(../Bilder/resume2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 95%;
  height: 15rem;
  align-self: center;
  border-radius: 20px;
  margin: 1rem;
} 
 
/* STYLINGEN FÖR GAMLA CVT */

/* .container{
  min-width: 10rem;
  min-height: 10rem;
}

.headline{
  font-size: 1.5rem;
  margin: 0.5rem;
  text-align: center;
  font-family: "Gloock", serif;
  color:var(--primary-text-clr)
}

.sub-headline{
  font-size: 1.2rem;
  margin: 0rem 0.5rem;
  color:rgb(114, 101, 72)
}

.text{
  font-size: 1rem;
  margin: 0rem 0.7rem;
}

.text2{
  padding-bottom: 0.5rem;
}

.textlast{
  padding-bottom: 2rem;
}  */

.bottom{
  height: 8vh;
  width: 100%;
  background-color: var(--hf-clr);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.footer-logo{
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Gloock", serif;
}

#github-icon{
  height: 2rem;
}

#email-icon{
  height: 2rem;
}

#linkedin-icon{
  height: 2rem;
}

@media (min-width: 768px) {
  .nav-bar li{
    float: left;
  }
  .nav-bar li a{
    padding: 20px 30px;
  }
  .nav-bar .menu{
    clear:none;
    float:right;
    max-height: none;
  }
  .nav-bar .menu-icon{
    display: none;
  }

  .top-headline{
    padding-top: 18vh;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2.5rem;
  }


  .section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5.5rem;
  }

  #cv-name, #schools, #work-experience{
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
} 

#place1, #place2, #place3, #place4{
  font-size: 1.2rem;
  margin: 0.3rem
}

#cv-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.pic{
  width: 100%;
}

  /* 
  STYLING PÅ GAMMALT CV

  .cv-article{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap:1rem
  }

  .container{
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

    .character{
    min-width: 40vw;
  }

  .school{
    min-width: 40vw;
    align-self: start;
  }

  .work{
    min-width: 82vw;
    margin-bottom: 4rem;
  } */

}
